* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #010917;
    font-family: sans-serif;
    padding-top: 20px;
    overflow-x: hidden;
}

.card-fan {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    --count: 20;
    --half-count: calc(var(--count) / 2);

    &.collapsed .card {
        transform: translateX(0) rotate(0deg) translateY(0);
    }
}

.card {
    --i: 1;
    --shift: calc(var(--i) - var(--half-count));
    --translateX: translateX(calc(var(--shift) * 20px));
    --translateY: translateY(calc((var(--half-count) - var(--shift) * var(--shift)) * -0.4px));
    --translateYShift: 0px;
    --rotate: rotate(calc(var(--shift) * 2deg));
    position: absolute;
    width: 80px;
    transform-origin: bottom center;
    transition: all 0.2s ease-in-out;
    left: 50%;
    transform: var(--translateX) var(--rotate) var(--translateY);

    &:hover img {
        transform: translateY(-20px);
        box-shadow: 0 0 5px rgb(255, 251, 0);
    }

    & img {
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
        transition: all 0.2s ease-in-out;
        width: 100%;
        pointer-events: none;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

button {
    color: white;
    background: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
        background: #fff;
        color: #111;
        box-shadow: 0 0 15px #ffb700;
    }
}


h2 {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #ffea00, 0 0 5px #ffae00;
}
